<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>

        <!-- Basics -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ site.name }}{% if page %} - {{page.title}}{% endif %} - {{ site.description }}</title>

        <!-- Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS: Normalize sheet first, minify everything for production -->
        <link rel="stylesheet" type='text/css' href="{{ site.baseurl }}/assets/css/main.css"/>
        {% if page and page.css %}
             <link rel="stylesheet" type='text/css' href="{{ site.baseurl }}/assets/css/{{ page.css }}.css"/>
        {% endif %}
        {% if page and page.prism %}
             <link rel="stylesheet" type='text/css' href="{{ site.baseurl }}/assets/css/prism.css"/>
        {% endif %}

        <!-- Import web fonts using the link tag instead of CSS @import: http://stackoverflow.com/questions/12316501/including-google-web-fonts-link-or-import -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Montserrat:700' rel='stylesheet' type='text/css'>

        <!-- Font Awesome -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <!-- Favicon.ico and apple-touch-icon.png (according to Apple docs). A good tool is http://iconifier.net/ -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
    </head>

    <body>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chrome/‎">install Google Chrome</a> to experience this site.</p>
        <![endif]-->

        <header id="site-header">
            <div class="container">
                <a href="{{ site.url }}"  alt="Back to Homepage"><h1 class="blog-title heading">{{ site.name }}</h1></a>
                <p class="blog-description">{{ site.description }}</p>
            </div>
        </header>

        {{ content }}

        <footer id="site-footer">
            <div class="container">
                <a href="{{ site.url }}/rss.xml" title="Get the RSS feed"><span class="tooltip"><i class="fa fa-rss"></i></span></a>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script type="text/javascript" src="{{ site.baseurl }}/assets/js/fittext.js"></script>
         {% if page and page.prism %}
             <script type="text/javascript" src="{{ site.baseurl }}/assets/js/prism.js"></script>
        {% endif %}

        <script type="text/javascript">
          $(".heading").fitText();
        </script>
    </body>

</html>